<!DOCTYPE html>
<html lang="en" ng-app="isla">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="isla.io game developers">
    <meta name="author" content="isla.io">
    <link rel="shortcut icon" href="bower_components/bootstrap/docs-assets/ico/favicon.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>isla.io open source social games</title>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

   <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
<!-- NAVBAR ================================================== -->
  <body ng-app="myApp">
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
           <div class="navbar-header">
               <div class="logo-isla">
                <div class="title-isla">isla.io</div>
              </div>

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
      
    <!-- Carousel   ================================================== -->
    <div ng-controller="CarouselDemoCtrl">
      <div>
        <carousel interval="myInterval">

          <slide ng-repeat="slide in slides" active="slide.active" 
            ng-style="{'background-image': 'url(' + slide.image + ')'}" ng-click="open()" >
            <div class="carousel-caption">
              <img ng-src="{{slide.logo}}" width="300px" style="margin-left:32px;"><br>
              <ul class="logos-stores">

                <li><img src="img/logos/applestore.png" width="200px"></li>
                <li><img src="img/logos/android.png" width="170px"></li>
              </ul>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
      <div class="col-lg-4 mainicons">
          <img src="img/logos/games.png" width="120px" alt="Generic placeholder image">
          <h2>Games</h2>
          <h4>Free social gaming</h4>
          <!--<p>Achieving a real portability between platforms is still a challenge and we are working on it.</p>-->
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mainicons">
          <img class="img-circle" src="img/logos/html5.png" width="120px" alt="Generic placeholder image">
          <h2>HTML 5</h2> 
          <h4>Latest tecnologies</h4>
          <!--<p>We write our games in pure javascript and html5, taking advantage of technologies like Phonegap, Appcelerator and so forth, we truly believe in HTML as the next standard in the game industry</p>-->
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mainicons">
          <img class="img-circle" src="img/logos/github.png" alt="Generic placeholder image">
          <h2>Open Source</h2>
          <h4>Available to the open-source community</h4>
          <!--<p>We belive that is posible to sell games in Apple or Play store while still opening the source. People can buy our games, make in app purchases while being able to download the code to learn from it, report/fix issues, remix; That's how technology advances quicker.</p>-->
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
<div id="about">
  
      <hr class="featurette-divider" >

      <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading">isla.io <span class="text-muted">a refuge where we are free to play and free to code</span></h2>
          <p class="lead">
                  isla.io born on summer of 2013 as the challenge for two old friends of making awesome video games by using web standards.
                  Our goal is to make people happy playing our games and contribute to development of the Web standards as a platform of making video games by making our work Open Source.
                  Our first title "Social Cup" is an innovative football manager that combines the taste of the old construction and management simulation video games and the new functionalities that social networks bring to the gaming world.
                  The release of the Social Cup is planned for Christmas 2013 (iOS, Android).
          
          
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/foreveralonecode.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>

      <hr class="featurette-divider">
    </div><!-- /.container -->

    <!-- orange background oange 
    <div style="background-color:#f17929">
      <div class="container">
        <div class="row featurette">
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
    </div>-->
<div class="row special" id="contact">
      <div class="google-map col-xs-8"  >
          <iframe width="100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=L'Illa+de+Benidorm&amp;aq=0&amp;oq=l'i&amp;sll=39.3173,-4.614258&amp;sspn=21.390776,28.125&amp;ie=UTF8&amp;hq=&amp;hnear=Benidorm+Island&amp;ll=38.502658,-0.130195&amp;spn=0.084681,0.077162&amp;t=m&amp;z=14&amp;output=embed"></iframe>
          <!--
          <br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=L'Illa+de+Benidorm&amp;aq=0&amp;oq=l'i&amp;sll=39.3173,-4.614258&amp;sspn=21.390776,28.125&amp;ie=UTF8&amp;hq=&amp;hnear=Benidorm+Island&amp;ll=38.502658,-0.130195&amp;spn=0.084681,0.077162&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          -->
      </div>
      <div class="details col-xs-4">
        <div class="social-icons">
             <ul class="social">
              <li class="twitter">   <a href="http://www.twitter.com/islaio"></a> </li>
              <li class="linkedin">  <a href="http://www.linkedin.com/company/isla-io"></a> </li>
              <li class="google">    <a href=""></a> </li> 
              <li class="skype">     <a href=""></a> </li> 
              <!-- <li class="wordpress"> <a href="http://github.com/islaio"></a> </li> -->
            </ul>
        </div>
      </div>
    </div>
      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
    <footer>
      <div class="container">

      </div>
     </footer>

  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="assets/js/bootstrap/dist/ui-bootstrap-tpls-0.7.0-SNAPSHOT.js"></script>
    <script src="bower_components/bootstrap/docs-assets/js/holder.js"></script>
    <script>
      angular.module('isla', ['ui.bootstrap']);
      function CarouselDemoCtrl($scope, $modal) {
        $scope.myInterval = 5000;
        var slides = $scope.slides = [ 
          { image: 'img/slides/soccer-stadium.jpg', text: 'social cup', logo: 'img/logos/social-cup-1.png' },
          { image: 'img/slides/quest.jpg', text: 'social cup', logo: 'img/logos/quest2.png' },
           // { image: 'img/slides/quest.jpg', text: 'social cup' }
        ];

        $scope.open = function () {
          var modalInstance = $modal.open({
            templateUrl: 'modalXmas.html',
            controller: function ($scope, $modalInstance, items) {
            },
            resolve: {
                items: function () {}
            }
          });
        };
      }
          

    //Jquery ScrollTo
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46176140-1', 'isla.io');
  ga('send', 'pageview');

</script>

</html>
